footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #121212;
}

.footer__nav {
    display: flex;
    justify-content: center;
    gap: 54px;
    padding-bottom: 87px;
}

.footer__nav-link {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__nav-link:hover {
    opacity: 0.5;
}

.rights {
    font-size: 20px;
    line-height: 27px;
    opacity: 0.5;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 767px) {
    footer {
        padding-top: 30px;
        padding-bottom: 26px;
    }
    
    .footer__nav {
        gap: 30px;
        padding-bottom: 41px;
    }
    
    .footer__nav-link {
        font-size: 12px;
        line-height: 16px;
    }

    .rights {
        font-size: 13px;
        line-height: 18px;
    }
}