.section-gallery {
    height: 717px;
}

.gallery__title-wrapper {
    position: absolute;
    width: 100%;
    top: 60px;
    z-index: 100;
}

.gallery__title {
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.gallery {
    position: relative;
}

.gallery__slides {
    position: relative;
}

.gallery__slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 717px;
    width: 100%;
    opacity: 0;
}

.gallery__slide_active {
    display: block;
    opacity: 1;
}

.gallery__slide-box {
    width: 100%;
    height: 100%;
}

.gallery__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__slide-dsc {
    position: absolute;
    bottom: 60px;
    max-width: 443px;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}

.gallery__controls-wrapper {
    position: absolute;
    top: 515px;
    width: 100%;
}

.gallery__controls {
    display: flex;
    gap: 7px;
}

.gallery__control-prev {
    height: 40px;
    width: 40px;
    background-image: url('../resources/control-prev.png');
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: unset;
    border: unset;
    cursor: pointer;
}

.gallery__control-next {
    height: 40px;
    width: 40px;
    background-image: url('../resources/control-next.png');
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: unset;
    border: unset;
    cursor: pointer;
}

@media (max-width: 1199px) {
    .section-gallery {
        height: 536px;
    }

    .gallery__title-wrapper {
        top: 80px;
    }
    
    .gallery__title {
        padding-left: 35px;
        font-size: 20px;
        line-height: 27px;
    }
    
    .gallery__slide {
        height: 536px;
    }
    
    .gallery__slide-dsc {
        padding-left: 35px;
        bottom: 80px;
        max-width: 405px;
        font-size: 25px;
        line-height: 34px;
    }
    
    .gallery__controls-wrapper {
        padding-left: 35px;
        top: 344px;
    }
}

@media (max-width: 767px) {
    .section-gallery {
        height: 408px;
    }

    .gallery__title-wrapper {
        top: 61px;
    }
    
    .gallery__title {
        padding-left: unset;
        font-size: 14px;
        line-height: 19px;
    }
    
    .gallery__slide {
        height: 408px;
    }
    
    .gallery__slide-dsc {
        padding-left: unset;
        bottom: 60px;
        max-width: 270px;
        font-size: 19px;
        line-height: 26px;
    }
    
    .gallery__controls-wrapper {
        padding-left: unset;
        top: 189px;
    }
    
    .gallery__controls {
        justify-content: space-between;
    }
    
    .gallery__control-prev {
        height: 30px;
        width: 30px;
    }
    
    .gallery__control-next {
        height: 30px;
        width: 30px;
    }
}